
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1480860207471'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1480860207471#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1480860207471') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1480860207471') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1480860207471#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before { content: "\e613"; }

.icon-wode:before { content: "\e6b1"; }

.icon-iconfont-edu06:before { content: "\e641"; }

.icon-xihuan:before { content: "\e647"; }

.icon-fanhui:before { content: "\e643"; }

.icon-xinwen:before { content: "\e608"; }

.icon-tiezi-huati-copy:before { content: "\e605"; }

.icon-zhibo:before { content: "\e6a8"; }

